*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
.nav-bar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* background: rgb(2, 44, 15); */
    position: fixed;
    z-index: 3;
    width: 100%;
    /* display: none; */
}

.nav-bar .second{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.nav-bar .second ul{
    display: flex;
    padding-right: 40px;
}
.nav-bar .second ul li{
    list-style: none;
    padding: 10px;
    align-items: center;
}
.nav-bar .second ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    font-family: cursive;
}
.nav-bar .second ul .concept a{
    background: linear-gradient(90deg, rgb(18, 6, 100) 60%, rgba(3, 86, 97, 0.543));
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.nav-bar .second ul li a:hover{
    color: rgb(8, 159, 141);
}

.nav-bar .first .icon img{
    width: 55px;
    height: 47px;
}
.nav-bar .second .toggle{
    color: white;
    font-size: 50%;
    margin-right: 20px;
    display: none;
}
/* This is the beginning of media query for the nav bar */
@media only screen and (max-width: 700px){
.nav-bar .second ul{
    display: none;
}
.nav-bar .second .toggle{
    font-size: 20px;
    display: block;
}
.nav-bar .second #toggle_off{
    display: none;
}

}
/* This is the dropdown */
.capture{
    position: fixed;
    z-index: 3;
    box-sizing: border-box;
}

.capture .dropdown{
    margin-top: 66px;
    border-radius: 0px 0px 12px 0px;
    background: rgb(0, 0, 0);
    margin-left: -1000px;
    transition: ease-in 1s;
    
}
.capture .dropdown ul{
    padding: 10px;
}
.capture .dropdown ul li{
    list-style: none;
    padding: 10px 200px 10px 10px;
}
.capture .dropdown ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.capture .dropdown ul li:hover{
    background: white;
    cursor: pointer;
}
.capture .dropdown ul li:hover a{
    color: black;
}
/* This is the beginning of the media query for dropdown */
/* This is media query for 400px */
@media only screen and (max-width: 400px){
    .capture .dropdown ul li{
        list-style: none;
        padding: 10px 150px 10px 10px;
    }
}
/*This is the beginning of the first section */
.first-section{
    width: 100%;
    padding: 40px 0px;
    display: grid;
    place-items:center;
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.first-section .container{
    width: 70%;
    margin: 80px auto;
    display: flex;
    flex-flow: row no-wrap;
    box-shadow: 2px 3px 5px black;
    background: rgba(255, 255, 255, 0.078);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 50px;
}
/* This is for the landing page write-up*/
.first-section .container .landing{
    display: grid;
    place-items: center;
    width: 100%;
}
.first-section .container .landing h2{
    color: white;
    font-family: cursive;
}
.first-section .container .landing p{
    color: white;
    padding: 10px 0px;
    margin: 10px;
}
.first-section .container .landing center a{
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    color: white;
    background: linear-gradient(45deg, red, blue 60%, red);
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .8s ease-in-out;
    animation:infinite 1s display;
}
@keyframes display {
    0%{ background: linear-gradient(45deg, red, blue 60%, red);}
    25%{ background: linear-gradient(45deg, blue, green 60%, red);}
    50%{ background: linear-gradient(45deg, blue, red 60%, red);}
    75%{ background: linear-gradient(45deg, red, blue 60%, red);}
    0%{ background: linear-gradient(45deg, red, blue 60%, red);}

}

.first-section .container .landing center a:hover{
    animation: none;
    border: 1px solid white;
    box-shadow: 2px 3px 5px black;
}
/* For the first-section picture */
.first-section .container .picture{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 40px 10px;
}
.first-section .container .picture .dam img{
    width: 70%;
    transform: translateX(50%);
}
.first-section .container .picture .wujin img{
    width: 50%;
    transform:translateY(50%);
}

/* This is the beginning of the media query for the first section */
    /* This is the media query at 700px */
@media only screen and (max-width: 700px){
    /* For the landing page */
    .first-section .container{
        flex-flow: column wrap;
    }
    .first-section .container .landing{
        order: 2;
    }
    .first-section .container .picture{
        order: 1;
        margin-bottom: 45px;
    }
    .first-section .container .landing p{
        color: white;
        text-align: center;
    }
    .first-section .container .picture .dam img{
        width: 90%;
    }
    .first-section .container .picture .wujin img{
        width: 65%;
        
    }
}
@media only screen and (max-width: 400px){
    /* This is the media query at 400px */
    .first-section .container{
        width: 90%;
        padding: 20px 10px;
        margin: 40px auto auto auto;
    }
    .first-section .container .picture{
        margin-bottom: 20px;
    }
    .first-section .container .landing p{
        color: white;
        text-align: center;
        text-shadow: 1px 2px 3px black;
    }
    .first-section .container .picture .dam img{
        width: 120%;
    }
    .first-section .container .picture .wujin img{
        width: 75%;
        padding-left: 30px;
    }
    .nav-bar .first .icon img{
        width: 50px;
        height: 42px;
    }
}
/* This is the end of the media query for the first section */
/* This is the "about us" section */
.second-section{
    width: 100%;
    height: auto;
    background: white;
    padding-bottom: 40px;
}
.second-section .container{
    height: auto;
    display: grid;
    place-items: center;
}
.second-section center{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    font-size: 140%;
    border-bottom: 2px black double;
}
.second-section .bout{
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 15px;
}
.second-section .cover{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 2fr));
    grid-gap: 10px;
    width: 90%;
    padding: 5px;
}

.second-section .about fieldset{
    padding: 8px;
    border-radius: 5px;
    font-size: 110%;
    text-align:justify;
}

.second-section .cover .about legend span img{
    width: 6%;
    border-radius: 50%;
    margin-bottom: -5px;
}
/* This is the beginning of the media query of about us section */
@media only screen and (max-width: 400px){
    .second-section .cover{
        grid-gap: 10px;
        margin-left: -25px;
    }
    .second-section .bout{
        display: grid;
        place-items: center;
        width: 100%;
        margin-top: 15px;
    }
    .second-section .cover .about{
        width: 80%;
    }
    .second-section .about fieldset{
        padding: 8px;
        border-radius: 5px;
        width: 90%;
        /* font-size: 110%; */
        margin-left: 20px;
    }
    .second-section .cover .about legend span img{
        width: 10%;
        margin-bottom: -5px;
    }
}
/* This is the end of the media query of about us section */
/* This is the third section */
.third-section{
    background: #0b7599;
    color: white;
}
.third-section ul{
    font-size: 90%;
    padding: 20px 0px 0px 20px;
}
.third-section .bout .cover .about fieldset div{
    display: grid;
    place-items: center;
}
.third-section .bout .cover .about fieldset div strong{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 20px 0px;
    transition: ease 1s;
}
.third-section .bout .cover .about fieldset div strong a{
    text-decoration: none;
    color: white;
}
.third-section .bout .cover .about fieldset div strong a span{
    padding-right: 10px;
}
/* This is for the resume download hover */
.third-section .bout .cover .about fieldset div strong:hover{
    background: white; 
}
.third-section .bout .cover .about fieldset div strong a:hover{
    color: #0b7599;
}
/* This is the beginning of the media query of the experience section */
@media only screen and (max-width: 700px){
    .third-section ul{
        font-size: 80%;
        text-align: left;
    }
    .third-section .bout .cover .about fieldset div strong a{
        font-size: 15px;
    }
}
/* This is the end of the media query of the experience session

/* This is the Portfolio section */
.fourth-section{
    width: 100%;
    display: grid;
    place-items: center;
}
.fourth-section .portfolio{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    justify-content: space-between;
}
.fourth-section .portfolio .hbnb{
    background: url(../images/hnb.png) no-repeat;
    background-size: cover;
    width: 35%;
    height: 8rem;
    display: grid;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
}
.fourth-section .portfolio .monty{
    background: url(../images/monty.png) no-repeat;
    background-size: cover;
    width: 40%;
    height: 8rem;
    display: grid;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
}
.fourth-section .portfolio div::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0b7599;
    opacity: 0;
    border-radius: 5px;
}
.fourth-section .portfolio div span{
    z-index: 2;
    color: white;
    -webkit-text-stroke: 4px;
    font-weight: bolder;
    font-size: 23px;
    position: absolute;
    top: 5;
    display: none;
}
.fourth-section .portfolio div:hover::before{
    opacity: .8;
}
.fourth-section .portfolio div:hover span{
    display: block;
}
/* This is the beginning of media query for the portfolio session */
    /* This is the media query at 700px */
@media only screen and (max-width: 700px){
    .fourth-section .portfolio{
        flex-flow: column wrap;
    }
    .fourth-section .portfolio .hbnb{
        width: 60%;
        height: 8rem;
        margin-bottom: 30px;
    }
    .fourth-section .portfolio .monty{
        width: 70%;
        height: 8rem;
    }
}
    /* This is the media query at 500px */
    @media only screen and (max-width: 500px){
        .fourth-section .portfolio .hbnb{
            width: 80%;
            height: 8rem;
            margin-bottom: 30px;
        }
        .fourth-section .portfolio .monty{
            width: 90%;
            height: 8rem;
        }
    }
    /* This is the media query at 400px */
    @media only screen and (max-width: 400px){
        .fourth-section .portfolio .hbnb{
            width: 100%;
            height: 5.5rem;
            margin-bottom: 30px;
        }
        .fourth-section .portfolio .monty{
            width: 110%;
            height: 5.5rem;
        }
    }
/* This is the end of the media query of the portfolio session */

/* This is the Education Section - Fifth section */
.fifth-section{
    background: #0b7599;
    color: white;
    width: 100%; 
}
.fifth-section .sector{
    margin-top: 20px;
    display: grid;
    place-items: center;
}
.fifth-section .sector .title{
    width: 30%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: space-around;
    padding-left: 8%;
}

.fifth-section .sector .title span img{
    width: 60%;
    border-radius: 50%;
    margin: 0;
    margin-right: 0px;
}
.fifth-section .sector .title .adjust img{
    width: 56%;
    transform: translateX(-85%);
    box-shadow: -3px -2px 5px black;
}
/* This is the write up of Education */
.fifth-section .edukat{
    display: grid;
    place-items: center;
    padding: 10px;
}
.fifth-section .edukat .writeme{
    width: 80%;
    padding: 20px;
}
.fifth-section .edukat .writeme ul{
    padding: 20px;
}
.fifth-section .edukat .writeme ul li{
    padding: 5px 0px;
}
/* This is the beginning of the media query of the eduction section */
@media only screen and (max-width: 500px){
    .fifth-section .sector .title{
        width: 50%;
    }  
}
@media only screen and (max-width: 400px){
    .fifth-section .sector .title{
        width: 50%;
    }  
    .fifth-section .edukat .writeme{
        width: 90%;
    }
    .fifth-section .sector .title span img{
        width: 80%;
    }
    .fifth-section .sector .title .adjust img{
        width: 76%;
        transform: translateX(-45%);
    }
}
/* This is the end of the media query of education section */
/* This is the connect section - Footer Section */
.sixth-section{
    background: url(../images/footer-background.png) repeat-x;
    background-size: contain;
    background-position: center;
    padding: 15px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sixth-section .location{
    padding: 10px;
    display: grid;
    place-items: center;
}

.sixth-section .location .message{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.087);
    box-shadow: 2px 3px 5px black;
    border-radius: 15px;
    padding: 15px;
}
.sixth-section .location .message .photo{
    display: grid;
    place-items: center;
}
.sixth-section .location .message .photo img{
    width: 25%;
    height: 65%;
    border-radius: 15px;
    padding: 10px;
    background: black;
    margin-bottom: 20px;
}
.sixth-section .location .message span{
    width: auto;
    display: flex;
    align-items: center;
    color: white;
}
.sixth-section .location h3{
    color: white;
}
.sixth-section .location .message input{
    background: none;
    border: none;
    border-bottom: white 1px solid;
    padding: 10px 10px;
    margin-left: 7px;
    width: 90%;
    color: white;
}
.sixth-section .location .message input::placeholder{
    color: white;
}
.sixth-section .location .message input:focus{
    outline: none;
}
.sixth-section .location .message textarea{
    background: none;
    border: 1px double white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    resize: none;
    color: white;
}
.sixth-section .location .message textarea::placeholder{
    color: white;
}
.sixth-section .location .message button{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background: linear-gradient(90deg, rgb(18, 6, 100) 60%, rgba(3, 86, 97, 0.543));
    border: none;
    color: white;
    font-weight: bolder;
    transition: .8s ease-in;
}
.sixth-section .location .message button:hover{
    border: white 1.5px dotted;
} 

/* This is for the social media link */

.sixth-section .location .cannor{
    background: linear-gradient(90deg, rgb(18, 6, 100) 60%, rgba(3, 86, 97, 0.543));
    color: white;
}
.sixth-section .location .cannor h2{
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.sixth-section .media{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.sixth-section .media a i{
    text-decoration: none;
    color: white;
}
.sixth-section .media div{
    text-align: center;
    padding: 10px 40px;
    margin: 5px auto;
}
.sixth-section .media div:hover{
    background: orange;
    color: white;
    border: none;
}
/* This is the beginning of the media query for connect section */
@media only screen and (max-width: 700px){
    .sixth-section{
        background-repeat: repeat-y;
    }
}
@media only screen and (max-width: 700px){
    .sixth-section{
        background-repeat: repeat-y;
    }
    .sixth-section .location .message{
        padding: 10px;
    }
}